langchain
langchain-core
langchain-community
langchain-huggingface
langchain-openai
langchain-groq
langserve
langsmith

streamlit
fastapi
uvicorn
sse-starlette
python-dotenv

huggingface_hub
sentence-transformers

chromadb
faiss-cpu
cassio
langchain-objectbox

pypdf
PyPDF2
beautifulsoup4
bs4

wikipedia
arxiv
langchainhub

groq

ChromaDB
faiss-cpu